*.app
*.flf
TestResults.xml
BuildOutput.txt
rad.json
.output
.alcache/
.altemplates/
cache_*
**/Packages/**
*/.vscode/**
*/.alpackages/**
*/.altestrunner/**
*/Translations/*.g.xlf
**/**.app
**/**.log
**/**.tmp
!*/.vscode/settings.json
!*/.vscode/extensions.json
